/* @import 'https://unpkg.com/open-props/colors-hsl.min.css'; */
@import './lib/styles/props.shadows.css';
@import './lib/styles/props.colors-hsl.css';
@import './lib/styles/props.borders.css';
@import './lib/styles/props.fonts.css';
/* @import 'https://unpkg.com/open-props/borders.min.css'; */
/* @import 'https://unpkg.com/open-props/fonts.min.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	/* Reference name */
	font-family: 'Inter';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}
@font-face {
	/* Reference name */
	font-family: 'GG Sans';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/GG Sans/gg sans Regular.ttf');
}

:root {
	--brand: hsl(var(--indigo-2-hsl));
	--link: hsl(var(--indigo-7-hsl));
	--link-visited: hsl(var(--purple-7-hsl));
	--text-1: var(--gray-9-hsl);
	--text-2: var(--gray-7-hsl);
	--layer-1-hsl: var(--gray-0-hsl);
	--layer-2-hsl: var(--gray-2-hsl);
	--layer-3-hsl: var(--gray-3-hsl);
	--layer-4-hsl: var(--gray-3-hsl);
}
.dark {
	--link: hsl(var(--indigo-3-hsl));
	--link-visited: hsl(var(--purple-3-hsl));
	--text-1: var(--gray-1-hsl);
	--text-2: var(--gray-4-hsl);
	--layer-1-hsl: var(--gray-9-hsl);
	--layer-2-hsl: var(--gray-8-hsl);
	--layer-3-hsl: var(--gray-7-hsl);
	--layer-4-hsl: var(--gray-6-hsl);

	/* Layer Card */
	--cardLayer: #424242;
	--cardFocus: #9a9a9a;
	/* Layer Card Accent */
	--cardAccentFillRest: #8456b6;
	--cardAccentFillHover: #905ec6;
	--cardAccentFillActive: #754ba2;
	--cardAccentFillSelected: #a278cf;
	--cardAccentForegroundCut: #ffffff;
	--cardAccentFocusInner: #533475;
	/* Layer Card Accent Neutral*/

	--neutralOutlineRestL1: #7b7b7b;

	/* Neutral */
	--neutralForegroundRest: #f5f5f5;
	--neutralForegroundHover: #f5f5f5;
	--neutralForegroundActive: #f5f5f5;
	/* Hint */

	--neutralForegroundHint: #8d8d8d;
	/* Accent */
	--accentForegroundRest: #a278cf;
	--accentForegroundHover: #b08cd6;
	--accentForegroundActive: #996bcb;
	--neutralFocus: #787878;
}

html {
	@apply bg-layer-1 text-text-2 caret-[--link] accent-[--link];
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	@apply border border-solid border-layer-4;
	background: hsl(var(--layer-1-hsl));
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: hsl(var(--gray-6-hsl));
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
html,
body {
	@apply h-screen overflow-hidden;
}
textarea {
	padding-inline: 0.5rem;
	padding-block: 0.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: var(--font-lineheight-1);
	font-weight: var(--font-weight-9);
	text-wrap: balance;
	color: hsl(var(--text-1));
}

h1 {
	font-size: var(--font-size-8);
	max-inline-size: var(--size-header-1);
}

h2 {
	font-size: var(--font-size-6);
	max-inline-size: var(--size-header-2);
}

h3 {
	font-size: var(--font-size-5);
}
h4 {
	font-size: var(--font-size-4);
}
h5 {
	font-size: var(--font-size-3);
}

h3,
h4,
h5,
h6,
dt {
	max-inline-size: var(--size-header-3);
}

/* button:is([type='button'], [type='reset'], [type='submit']) {
	@apply inline-block rounded-1 bg-primary-5 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-text-1 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-6 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-6 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-7 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] disabled:opacity-70 dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)];
} */

/*textarea,
select,
input:not([type='button'], [type='reset'], [type='submit']) {
	@apply dark:focus:border-primary-5 focus:border-primary-6 block w-full appearance-none rounded-3 border-0 border-b-2 border-gray-3 bg-gray-5 px-2.5 pb-2.5 pt-5 text-sm text-gray-9 focus:outline-none focus:ring-0 dark:border-gray-6 dark:bg-gray-7;
}*/
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: theme(colors.layer.3);
	border-color: theme(colors.layer.4);
	border-width: 1px;
	border-radius: 5px;
	color: theme(colors.text.1);
	padding-top: 0.5rem;
	padding-right: 0.75rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	font-size: theme(fontSize.sm);
	line-height: 1.5rem;
	--tw-shadow: 0 0 #0000;
	@apply ring-1 focus:ring-2 focus:ring-inset focus:ring-primary-6;
}

a {
	&_[href] {
		text-decoration-color: hsl(var(--indigo-2-hsl));

		&_:visited {
			text-decoration-color: hsl(var(--purple-2-hsl));
		}
	}

	&_not(:hover) {
		text-decoration: inherit;
	}
}
a[href] {
	text-decoration-color: hsl(var(--indigo-2-hsl));
	color: var(--brand, var(--link));
}
a[href]:visited {
	color: var(--link-visited);
	text-decoration-color: hsl(var(--purple-2-hsl));
}
a,
u,
ins,
abbr {
	text-underline-offset: 1px;

	@supports (-moz-appearance: none) {
		text-underline-offset: 2px;
	}
}

/* table {
	@apply relative w-full table-auto overflow-auto text-text-1;
	@apply rounded-2;
} */

/* table tbody {
	@apply overflow-auto;
} */

table tbody tr {
	@apply hover:bg-layer-3;
}
/*
table thead {
	@apply sticky top-0 border-b border-layer-3 bg-layer-1;
}
table tfoot {
	@apply w-full border-t border-layer-3 bg-layer-1;
}*/
/*
table thead tr {
	@apply text-left capitalize;
}
*/

/*
table tbody tr {
	@apply border-layer-4/20 even:bg-layer-4/5 border-b;
}

*/
/*
table tbody td {
	@apply whitespace-nowrap px-3 py-1 align-middle lg:whitespace-normal;
	
}
*/

.icon {
	@apply flex aspect-square items-center justify-center border border-layer-3 hover:text-text-1 hover:shadow-inner;
}

/* @apply m-2 rounded-2 border border-layer-3 bg-layer-2 shadow-3; */
.card {
	@apply m-auto rounded-2 border border-layer-3 bg-layer-2 shadow-3;
	header {
		@apply p-4 pb-0;
	}
	footer {
		@apply p-4 pt-0;
	}
}

button:is([type='button'], [type='reset'], [type='submit']) {
	@apply flex max-w-fit items-center gap-1 rounded-1 bg-primary-5 px-4 pb-2 pt-2.5 text-center align-bottom font-medium text-text-1 shadow-2 transition duration-150 ease-in-out hover:bg-primary-6 hover:shadow-3 focus:bg-primary-6 focus:shadow-3 focus:outline-none focus:ring-0 active:bg-primary-7 active:shadow-3 disabled:opacity-70;
}

.wrapper {
	label {
		@apply text-xs font-bold uppercase;
	}
}
